p {
    color: rgb(171, 84, 171); /*color for all p*/
}
h1 {
    font-size: 24px;
}
#header {
    font-weight: bold;
}
body {
    background-color: lightblue;
}
li {
    padding: 10px;
}
table {
    margin: 20px;
}
table, th, td {
    border: 1px solid black;/*border for all table, headers and data*/
}
img {
    width: 300px; /*300 px allows for imagaes to fit better*/
}

img {
    border: 3px solid #000;/* added border to all images*/
    border-radius: 50%; /* made images round */
}
h2 {
    color: green;
}
.emphasize {
    font-style: italic;
    background-color: yellow;/*used to add highlight to background*/
}